/* POPPINS FONT */

    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Cái này để lấy font Poppins từ google, dùng cách thức import*/
*{  /* Cái này để CSS chung cho toàn trang */ 
    margin: 0;    /* Cái này để chỉnh margin */
    padding: 0;   /* Cái này để chỉnh padding */
    box-sizing: border-box; /* Cái này để cho toàn bộ vào 1 box */
    font-family: 'Poppins', sans-serif;  /* Khi đã import font google vào thì đặt theo font đó */
}

/* =====COLOR VARIABLES ==== */
:root{
    --primary-color: #c6c3c3; 
    --second-color: #ffffff;
    --back-color: #020233; 
}
body{
    background-image: url(../img/background.jpg); /* Chèn link ảnh đã tải về làm background */
    background-position: center;   /* Chỉnh cho background vào chính giữa cho đẹp */
    background-size: cover; /* Chỉnh size cho cover toàn màn hình sẽ đẹp hơn */
    background-repeat: no-repeat; /* Cái này nghĩa là hình k lặp lại vì màn hình to 1 cái ảnh nó k hết, nó sẽ tự thêm ảnh tương ứng để phủ hết màn hình */
    background-attachment: fixed; /* Chỉnh cái này để 1 cái ảnh background nó tự động phủ kín màn hình cho mình */
}

/* ==== Reusable CSS ==== */
a{
    text-decoration: none;
    color: var(--second-color);  /* Cái này gán color = 1 biến var(--second-color) ở trên đã khai báo */
}
a:hover{
    text-decoration: underline;
}

/* ==== WRAPPER ==== */
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.login_box{
    position: relative; 
    width: 450px; 
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color:var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.login_header{
    position: absolute; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}
.login-header span{
    font-size: 30px;
    color: var(--back-color);
}
.login-header::before{
    content: "";
    position: absolute; 
    top: 0; 
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}
.login-header::after{
    content: "";
    position: absolute; 
    top: 0; 
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}
.input_box{
    position: relative;
    display: flex;
    flex-direction: column; 
    margin: 20px 0;
}
.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent; 
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}
#user{
    margin-bottom: 10px;
}
.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--back-color);
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit:hover{
    background: var(--second-color);
}
.register{
    text-align: center;
}
.registera a{
    font-weight: 500;
}
@media only screen and (max-width: 564px) {
    .wrapper{
        padding: 20px;
    }
    .login_box{
        padding: 7.5em 1.5em 4em 2.5em;
    }
}